@model IEnumerable<Blog>
<section id="sub-banner" style="background-image: url(img/@ViewBag.Banner)">
    <div class="sub-banner">
        <div class="breadcrumb-areas">
            <h1>Blog</h1>
            <ul class="breadcrumbs">
                <li><a asp-controller="home">Home</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</section>

<!-- blogs list -->
<section id="news-list">
    <input type="hidden" value="@ViewBag.BlogTotalCunt" id="blogCount"/>
    <input type="hidden" value="@ViewBag.PageCount" id="pageCount" />
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-3">
                @foreach (var blog in Model)
                {
                    <div class="single-news mb-5">
                        <div class="image-wrapper w-100">
                            <a asp-action="details" asp-route-id="@blog.Id">
                                <img src="img/@blog.MainImageUrl" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="single-news-header pt-3 pb-2">
                            <div class="news-datebox mr-3">
                                <h4>@blog.UpdatedDate.Day</h4>
                                <span>@blog.UpdatedDate.ToString("MMM"), @blog.UpdatedDate.Year</span>
                            </div>
                            <div class="news-header">
                                <h5>
                                    <a asp-action="details" asp-route-id="@blog.Id" style="word-break:break-word">
                                        @blog.Header
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="single-news-body">
                            <p style="word-break:break-word">
                                @if (blog.Content.ToString().Count() > 300)
                                {
                                    @blog.Content.ToString().Remove(200);
                                }
                                else
                                {
                                    @blog.Content
                                }...
                            </p>
                        </div>
                        <div class="single-news-footer pt-3">
                            <div class="read-more">
                                <a asp-action="details" asp-route-id="@blog.Id" class="read-more-btn">Read More</a>
                            </div>
                        </div>
                    </div>

                }
                <div class="row text-center">
                    <div class="col-12 justify-content-center pagination-custom">
                        <button class="fast-backward">
                            <i class="fas fa-angle-double-left"></i>
                        </button>
                        <button class="backward">
                            <i class="fas fa-angle-left"></i>
                        </button>
                        @for (int i = 1; i < ViewBag.PageCount + 1; i++)
                        {
                            if (i == 1)
                            {
                                <button data-id="first-page" data-skip="0" class="active page">
                                    @i
                                </button>
                            }
                            else if (i == (ViewBag.PageCount))
                            {
                                <button data-id="last-page" data-skip="@((i - 1) * 2)" class="page">
                                    @i
                                </button>
                            }
                            else
                            {
                                
                                <button data-skip="@((i - 1) * 2)" class="page">
                                    @i
                                </button>
                            }
                        }
                        <button class="forward">
                            <i class="fas fa-angle-right"></i>
                        </button>
                        <button class="fast-forward">
                            <i class="fas fa-angle-double-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="recent-news">
                    <h3 class="recent-news-h3">Recent news</h3>
                    @await Component.InvokeAsync("Blog")
                </div>
            </div>
        </div>
    </div>
</section>